<section class="about" id="about">
	<div class="container">
		
		<div class="about__main">
			
			<div class="about__info" data-title="About">
				<p class="about__text">Hello, my name is Denys Bondarchuk. I am <span class="myage">24</span> years old and I am a Front-end developer based in Kyiv, Ukraine.</p>
				<p class="about__text">Last couple of years in love with <span class="text-nowrap">web-development</span>. <span class="text-nowrap">I have</span> real passion to animate something and I am also focused on performance of high-quality work.</p>
			</div>

			<div class="about__show">

				<div class="glitch">
					<div class="glitch__wrap">
						<div class="glitch__img"></div>
						<div class="glitch__img"></div>
						<div class="glitch__img"></div>
						<div class="glitch__img"></div>
						<div class="glitch__img"></div>
					</div>
					<h3 class="glitch__title split">About</h3>
				</div>

			</div>

		</div>

	</div>
</section>