<header class="header">
	<div class="container">
		
		<div class="header__main">
			
			<nav class="header__nav">
				<ul class="header__menu">
					<li class="header__item"><a href="#about" class="header__link" data-title="About">About</a></li>
					<li class="header__item"><a href="#skills" class="header__link" data-title="Skills">Skills</a></li>
					<li class="header__item"><a href="#projects" class="header__link" data-title="Project">Project</a></li>
					<li class="header__item"><a href="#contacts" class="header__link" data-title="Contacts">Contacts</a></li>
				</ul>
			</nav>

			<div class="header__info">
				<h1 class="header__title">Front-end developer<span class="header__title-small text-nowrap"> (but not for sure ٩(◕‿◕｡)۶)</span><br> <span class="header__ukraine">from Ukraine</span></h1>
				<a href="#about" class="header__anchor">
					<svg class="header__svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 485 485">
						<path d="M313.106 333.106l-21.212-21.212-34.394 34.393V7.5h-30v338.787l-34.394-34.393-21.212 21.212 70.606 70.607z"/>
					</svg>
				</a>
			</div>

		</div>

	</div>
</header>