<section class="about about-projects" id="projects">
	<div class="container">
		
		<div class="about__main about__main-projects">
			
			<div class="about__info" data-title="Projects">

				<ul class="about__links">
					<li class="about__link"><a href="" class="about__project about__project-0">Landing page "Chia seeds" (14.08.2018)</a></li>
					<li class="about__link"><a href="" class="about__project about__project-1">Landing page "Health" in Spanish (04.04.2019)</a></li>
					<li class="about__link"><a href="" class="about__project about__project-2">Landing page "Loravit" (10.12.2018)</a></li>
				</ul>

				<p class="about__footnote">* Some commercial projects can be shown only in person</p>
			</div>

			<div class="about__show">

				<div class="distortion">
					<div class="distortion__wrap"></div>
					<h3 class="distortion__title split">Projects</h3>
				</div>

			</div>

		</div>

	</div>
</section>