<nav class="full-nav">
	<ul class="full-menu">
		<li class="full-menu__item"><a href="#about" class="full-menu__link" data-title="About">About</a></li>
		<li class="full-menu__item"><a href="#skills" class="full-menu__link" data-title="Skills">Skills</a></li>
		<li class="full-menu__item"><a href="#projects" class="full-menu__link" data-title="Project">Project</a></li>
		<li class="full-menu__item"><a href="#contacts" class="full-menu__link" data-title="Contacts">Contacts</a></li>
	</ul>
</nav>

<div class="toogle-menu">
	<div class="toogle-menu__line"></div>
	<div class="toogle-menu__line"></div>
</div>